body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-size: 12pt;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    margin-left: 2em;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
div {
    float: left;
    display: inline-block;
    margin-top: 1em;
}

body{
    background-color: rgb(247, 247, 247)
}

.masterdiv{
    width: auto;
    height: auto;
    background-color:  rgb(225, 226, 221);
    padding: 1em;
}

.dropBtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropBtn:hover, .dropBtn:focus {
    background-color: #2980B9;
}

.menu {
    position: fixed;
    top: 10px;
    right: 70px;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a :hover{
    background-color: rgb(133, 133, 133);
}

.show {
    display:block;
}

.square{
    width: 5em;
    height: 5em;
    margin: 50px;
}

p{
    display: inline-block;
    
}

#paars{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #8F64D8;
}

#geel{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #FBF791;
}

#wit{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

#zwart{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: black;
    text-decoration-color: white;
}

.box {
    width: auto;
    height: auto;
    padding: 0em;
    padding-left: 5px;
}

#Cooper #cooperFont{
    font-family: "Cooper-Black";
    font-size: 70pt;
}

#opensansExtra #titelsFont{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50pt;
}

#opensansCondensedBold #tussenTitelsFont{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35pt;
}

#opensansLight #formsFont{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35pt;
}

#opensansCursiveLine #linksFont{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 25pt;
    color: #8F64D8;
    text-decoration-line: underline;

}

#opensansRegular #regularFont{
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
}